@import "tailwindcss";

@layer base {
  h5 {
    @apply absolute bottom-4 w-52 px-6 duration-200 group-hover:scale-110 group-hover:text-black md:bottom-8 md:px-10;
  }
}

@layer components {
  .btn {
    @apply font-alata my-0 border-2 border-black px-10 py-2 font-bold tracking-[.3em] uppercase hover:bg-black hover:text-white;
  }
}

@theme {
  --font-sans: "Josefin Sans", sans-serif;
  --font-alata: Alata;
}

#hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}

.item-container {
  @apply flex w-full flex-col justify-between space-y-6 text-2xl text-white uppercase md:flex-row md:space-y-0 md:space-x-8;
}

.item {
  @apply relative overflow-hidden md:w-1/4;
}

.item-gradient {
  @apply absolute inset-0 bg-linear-to-b from-transparent to-gray-900 group-hover:from-gray-500 group-hover:to-white group-hover:opacity-50;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
